In [1]:
import pandas as pd
import numpy as np

In [2]:
ourcos = pd.read_excel("OurCosines1.xlsx")

In [25]:
ourcos = ourcos.set_index("CONCEPT")

In [7]:
data = pd.read_excel("07_20_20_Speeded_naming_results_corrected.xlsx") # our data file

In [8]:
data['Stimulus'] = data['Stimulus'].str.strip()
data['STD_RESP1'] = data['STD_RESP1'].str.strip()

In [11]:
data = data.drop([24354,24355,24356], axis=0)

In [13]:
cosMeans = pd.read_excel("NEWCOSINEOUTPUT_MEANS.xlsx")

In [18]:
colMeans = cosMeans.drop(["Stimulus"], axis = 1)
data["MeanCosNeigh"] = pd.concat([colMeans]*82, ignore_index=True)

In [20]:
data.to_excel("07_20_20_Speeded_naming_WITH_MEANS_COLUMN.xlsx")

In [27]:
ourcos.columns

Index(['accordion', 'airplane', 'alligator', 'ambulance', 'anchor', 'ant',
       'apartment', 'apple', 'apron', 'armour',
       ...
       'whip', 'whistle', 'willow', 'woodpecker', 'worm', 'wrench', 'yacht',
       'yam', 'zebra', 'zucchini'],
      dtype='object', length=541)

In [28]:
resp_cos = []
for stim, resp in zip(data.Stimulus, data.STD_RESP1):
    if resp in ourcos.columns:
        resp_cos.append(ourcos.at[stim,resp])
    else:
        resp_cos.append(np.NaN)

In [31]:
data["TargetRespCos"] = resp_cos

In [32]:
data.to_excel("07_20_20_Speeded_naming_WITH_2_COLS.xlsx")

In [33]:
pers = pd.read_excel("06_29_Perseverations_fixed_bugs.xlsx")

In [38]:
# we downloaded our data, manually modified it, and then loading it again here:
final = pd.read_excel("07_20_20_Speeded_naming_WITH_2_COLS.xlsx")

In [51]:
pers.tail()

,Order,ID,Stimulus,STD_RESP1,real_Stim,Lag1,real_Resp,Lag2,false_Stim,Lag3,false_Resp,Lag4
ItemID,,,,,,,,,,,,
183scooter,293,183,scooter,scooter,0,NaN,0,NaN,0,NaN,0,NaN
183cup,294,183,cup,cup,0,NaN,0,NaN,0,NaN,0,NaN
183celery,295,183,celery,celery,0,NaN,0,NaN,0,NaN,0,NaN
183violin,296,183,violin,violin,0,NaN,0,NaN,0,NaN,0,NaN
183plate,297,183,plate,plate,0,NaN,0,NaN,0,NaN,0,NaN

In [40]:
final["Item"] = final["ID"].apply(str) + final["Stimulus"]

In [36]:
pers["ItemID"] = pers["ID"].apply(str) + pers["Stimulus"]

In [48]:
pers = pers.set_index(["ItemID"])
final = final.set_index(["Item"])

In [47]:
set(final["Item"]) == set(pers["ItemID"])

True

In [43]:
len(pers["ItemID"])

24354

In [52]:
final.insert(final.shape[1], "real_Resp", pers["real_Resp"])

In [57]:
set(final["real_Resp"]) == set(pers["real_Resp"])

True

In [58]:
final.to_excel("07_20_20_Speeded_naming_3columns_added.xlsx")