In [2]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_excel("24_06_20_Speeded_naming_results.xlsx")

Selected relevant columns:

In [66]:
ourdf = data[['Item','ID', "Order","Stimulus", "STD_RESP1", "Resp_type_1", "Error_type_1"]]
#ourdf = data[['ID',"Error_type_1", "Stimulus"]]
ourdf = data[['ID',"Broad_error_1", "Stimulus"]]
ourdf = ourdf.drop([24354,24355,24356], axis=0)
ourdf["ID"]=ourdf.ID.astype('int64')
#ourdf["Order"]=ourdf.Order.astype('int64')
ourdf.head()

    ID Broad_error_1   Stimulus
0  101       correct  ambulance
1  101       correct     anchor
2  101       correct        ant
3  101       correct      apple
4  101       correct      apron

In [69]:
ourdf.shape

(23760, 3)

In [68]:
ourdf = ourdf.drop(ourdf.index[ourdf.ID == 105])
ourdf = ourdf.drop(ourdf.index[ourdf.ID == 126])

In [70]:
#ourdf.set_index("ID")
ourdf.shape

(23760, 3)

In [30]:
#ourdf[ourdf.Error_type_1 == "PhonNw"]

In [72]:
ourdf = ourdf.groupby(["ID", 'Broad_error_1']).count()

In [33]:
ourdf = grouped_df.reset_index()

NameError: name 'grouped_df' is not defined

In [53]:
ourdf.head()

                   Stimulus
ID  Broad_error_1
101 correct             245
    omission             25
    other                 3
    semantic             24
102 correct             248

In [73]:
mean_df = ourdf.groupby("Broad_error_1").max()
m = mean_df["Stimulus"]
m

Broad_error_1
correct     273
omission     28
other        47
semantic     87
Name: Stimulus, dtype: int64

In [40]:
sd_df = ourdf.groupby("Error_type_1").std()
sd = sd_df["Stimulus"]

In [41]:
med_df = ourdf.groupby("Error_type_1").median()
med = med_df["Stimulus"]

In [42]:
ourdf["mean"] = m

In [43]:
new_ind = mean_df.index.to_series

In [44]:
frame = { 'Error type': new_ind, 'Mean': m, "SD": sd, "Median": med} 
result = pd.DataFrame(frame) 
result

,Error type,Mean,SD,Median
Error_type_1,,,,
Abbrev,<bound method Index.to_series of Index(['Abbre...,1.428571,0.703401,1.0
Associate,<bound method Index.to_series of Index(['Abbre...,1.812500,0.937544,2.0
Compound,<bound method Index.to_series of Index(['Abbre...,1.242424,0.435194,1.0
Coord,<bound method Index.to_series of Index(['Abbre...,33.950000,12.543494,33.0
Corr,<bound method Index.to_series of Index(['Abbre...,227.287500,22.587772,226.5
CorrDet,<bound method Index.to_series of Index(['Abbre...,1.000000,NaN,1.0
Disfl,<bound method Index.to_series of Index(['Abbre...,1.484848,0.755034,1.0
DisflSC,<bound method Index.to_series of Index(['Abbre...,5.029412,4.077498,4.0
Elab,<bound method Index.to_series of Index(['Abbre...,1.877551,1.111168,2.0
FS_rel,<bound method Index.to_series of Index(['Abbre...,1.285714,0.487950,1.0
FS_unrel,<bound method Index.to_series of Index(['Abbre...,1.555556,0.881917,1.0
Fail,<bound method Index.to_series of Index(['Abbre...,2.000000,1.154701,2.0
Hes,<bound method Index.to_series of Index(['Abbre...,2.162791,1.824832,2.0
Incompl,<bound method Index.to_series of Index(['Abbre...,2.261905,1.288969,2.0
MSP,<bound method Index.to_series of Index(['Abbre...,1.000000,0.000000,1.0
Nonword,<bound method Index.to_series of Index(['Abbre...,2.400000,1.795686,2.0
Om,<bound method Index.to_series of Index(['Abbre...,7.467742,7.307570,4.0
Part_whole,<bound method Index.to_series of Index(['Abbre...,2.194030,1.104245,2.0
Phon,<bound method Index.to_series of Index(['Abbre...,1.978723,1.112955,2.0
PhonNw,<bound method Index.to_series of Index(['Abbre...,2.230769,1.754116,2.0
SemPhon,<bound method Index.to_series of Index(['Abbre...,1.272727,0.631085,1.0
Sem_other,<bound method Index.to_series of Index(['Abbre...,3.071429,2.241386,2.0
Subord,<bound method Index.to_series of Index(['Abbre...,1.000000,0.000000,1.0
Superord,<bound method Index.to_series of Index(['Abbre...,5.114286,4.172174,4.0
Syn,<bound method Index.to_series of Index(['Abbre...,1.416667,0.590652,1.0
Unrel,<bound method Index.to_series of Index(['Abbre...,4.068966,4.800812,3.0
Visual,<bound method Index.to_series of Index(['Abbre...,2.000000,1.437984,1.0

In [45]:
result.drop(["Error type"], axis = 1)

                    Mean         SD  Median
Error_type_1
Abbrev          1.428571   0.703401     1.0
Associate       1.812500   0.937544     2.0
Compound        1.242424   0.435194     1.0
Coord          33.950000  12.543494    33.0
Corr          227.287500  22.587772   226.5
CorrDet         1.000000        NaN     1.0
Disfl           1.484848   0.755034     1.0
DisflSC         5.029412   4.077498     4.0
Elab            1.877551   1.111168     2.0
FS_rel          1.285714   0.487950     1.0
FS_unrel        1.555556   0.881917     1.0
Fail            2.000000   1.154701     2.0
Hes             2.162791   1.824832     2.0
Incompl         2.261905   1.288969     2.0
MSP             1.000000   0.000000     1.0
Nonword         2.400000   1.795686     2.0
Om              7.467742   7.307570     4.0
Part_whole      2.194030   1.104245     2.0
Phon            1.978723   1.112955     2.0
PhonNw          2.230769   1.754116     2.0
SemPhon         1.272727   0.631085     1.0
Sem_other       3.071429   2.241386     2.0
Subord          1.000000   0.000000     1.0
Superord        5.114286   4.172174     4.0
Syn             1.416667   0.590652     1.0
Unrel           4.068966   4.800812     3.0
Visual          2.000000   1.437984     1.0

In [25]:
IDs = [x for x in list(range(101, 184)) if x != 120]

In [46]:
result.to_excel("06_07_20Error_distribution.xlsx")

In [55]:
part.set_index('Order', inplace=True)

In [53]:
data = {'Resp': ['sword','apple','typewriter','dog', 'elephant', 'boots', 'berry', 'apple', 'pear', 'apple', 'typewriter', "cat", "horse", "tree","berry", "berry"],
        "Stim":["sword", "apple", "typewriter", "cat", "elephant", "boots", "banana", "orange", "lemon", "grape", "toy", "dog","horse", "tree", "house", "berry"],
        'Order':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]}
df = pd.DataFrame(data, columns = ['Stim',"Resp", 'Order'])
#df.set_index('Order', inplace=True)
df

          Stim        Resp  Order
0        sword       sword      1
1        apple       apple      2
2   typewriter  typewriter      3
3          cat         dog      4
4     elephant    elephant      5
5        boots       boots      6
6       banana       berry      7
7       orange       apple      8
8        lemon        pear      9
9        grape       apple     10
10         toy  typewriter     11
11         dog         cat     12
12       horse       horse     13
13        tree        tree     14
14       house       berry     15
15       berry       berry     16