In [3]:
import pandas as pd
import numpy as np
import xlsxwriter

In [59]:
allcos = pd.read_excel("All_Cosines.xlsx") # cosine similarity matrix

In [48]:
data = pd.read_excel("07_17_20_Speeded_naming_results_corrected.xlsx") # our data file

In [60]:
#allcos = allcos.set_index('CONCEPT')
allcos.head()

,CONCEPT,accordion,airplane,alligator,ambulance,anchor,ant,apartment,apple,apron,...,whip,whistle,willow,woodpecker,worm,wrench,yacht,yam,zebra,zucchini
0,accordion,NaN,0.000,0.0,0.016,0.000,0.000,0.0,0.000,0.000,...,0.000,0.045,0.000,0.015,0.000,0.000,0.000,0.000,0.000,0.000
1,airplane,0.000,NaN,0.0,0.131,0.115,0.000,0.0,0.000,0.000,...,0.000,0.075,0.040,0.306,0.000,0.089,0.106,0.000,0.000,0.000
2,alligator,0.000,0.000,NaN,0.000,0.000,0.000,0.0,0.129,0.041,...,0.136,0.000,0.147,0.047,0.169,0.000,0.000,0.000,0.151,0.293
3,ambulance,0.016,0.131,0.0,NaN,0.017,0.038,0.0,0.078,0.000,...,0.000,0.029,0.027,0.010,0.000,0.000,0.064,0.037,0.108,0.000
4,anchor,0.000,0.115,0.0,0.017,NaN,0.000,0.0,0.000,0.000,...,0.000,0.202,0.031,0.000,0.000,0.318,0.061,0.000,0.000,0.000

In [54]:
data['Stimulus'] = data['Stimulus'].str.strip()

In [55]:
#data = data.drop([24354,24355,24356], axis=0)
stimuli = list(set(data.Stimulus)) # list of 297 stimuli 
len(stimuli)

298

In [57]:
stimuli

['plate',
 'pen',
 'gorilla',
 'asparagus',
 'pants',
 'rock',
 'anchor',
 'peg',
 'surfboard',
 'truck',
 'ruler',
 'wand',
 'ant',
 'flamingo',
 'moose',
 'beans',
 'cheese',
 'card_(greeting)',
 'shed',
 'belt',
 'submarine',
 'bottle',
 'slingshot',
 'seaweed',
 'tie',
 'barrel',
 'pyramid',
 'gate',
 'mushroom',
 'cat',
 'trumpet',
 'certificate',
 'ambulance',
 'blueberry',
 'dove',
 'eagle',
 'strawberry',
 'pickle',
 'bullet',
 'dishwasher',
 'snail',
 'table',
 'box',
 'bedroom',
 'apron',
 'vest',
 'ring_(jewelry)',
 'skunk',
 'clarinet',
 'helmet',
 'buggy',
 'shelves',
 'basket',
 'church',
 'garage',
 'goat',
 'broom',
 'axe',
 'octopus',
 'chair',
 'cage',
 'whistle',
 'razor',
 'medal',
 'projector',
 'caterpillar',
 'jeans',
 'tap',
 'potato',
 'saxophone',
 'doll',
 'fox',
 'knife',
 'piano',
 'whip',
 'plug_(electric)',
 'pie',
 'goldfish',
 'bagpipe',
 'walnut',
 'tiger',
 'stick',
 'cockroach',
 'rocket',
 'sled',
 'fence',
 'coin',
 'skateboard',
 'squid',
 'screwdriver',
 'rabbit',
 'bridge',
 'crowbar',
 'rake',
 'fan_(appliance)',
 'bomb',
 'helicopter',
 'rat',
 'comb',
 'scissors',
 'seal',
 'crane_(machine)',
 'camel',
 'tractor',
 'barn',
 'crab',
 'onions',
 'pear',
 'skirt',
 'mug',
 'cauliflower',
 'coat',
 'guitar',
 'shrimp',
 'giraffe',
 'garlic',
 'shovel',
 'board_(wood)',
 'peach',
 'dress',
 'saddle',
 'cake',
 'tricycle',
 'toad',
 'jeep',
 'book',
 'pony',
 'marble',
 'menu',
 'otter',
 'mouse_(animal)',
 'platypus',
 'hook',
 'pencil',
 'raft',
 'boat',
 'mandarin',
 'moth',
 'taxi',
 'bench',
 'cigarette',
 'veil',
 'chandelier',
 'sword',
 'violin',
 'car',
 'rope',
 'tray',
 'bread',
 'coconut',
 'crown',
 'cup',
 'crocodile',
 'zebra',
 'seagull',
 'mouse',
 'corn',
 'apple',
 'peacock',
 'raspberry',
 'spoon',
 'wall',
 'lamb',
 'emu',
 'bow_(weapon)',
 'pillow',
 'frog',
 'ashtray',
 'toy',
 'trailer',
 'goose',
 'bin_(waste)',
 'rice',
 'turtle',
 'bra',
 'harp',
 'scarf',
 'kettle',
 'swan',
 'cucumber',
 'van',
 'butterfly',
 'gloves',
 'lettuce',
 'penguin',
 'spider',
 'slippers',
 'pelican',
 'tent',
 'umbrella',
 'walrus',
 'orange',
 'escalator',
 'cherry',
 'cork',
 'basement',
 'magazine',
 'hammer',
 'lime',
 'pineapple',
 'desk',
 'bowl',
 'turkey',
 'owl',
 'curtains',
 'motorcycle',
 'bear',
 'grater',
 'pipe_(smoking)',
 'pipe_(plumbing)',
 'fridge',
 'carrot',
 'eggplant',
 'chain',
 'hyena',
 'scooter',
 'squirrel',
 'jar',
 'toilet',
 'kite',
 'radio',
 'boots',
 'spatula',
 'bow_(ribbon)',
 'bat_(baseball)',
 'racquet',
 'cigar',
 'toaster',
 'napkin',
 'fork',
 'drill',
 'eel',
 'shirt',
 'sheep',
 'sink',
 'building',
 'lamp',
 'keyboard_(musical)',
 'cow',
 'door',
 'lemon',
 'oven',
 'bucket',
 'lion',
 'olive',
 'banjo',
 'beetle',
 'horse',
 'pot',
 'socks',
 'typewriter',
 'bed',
 'microscope',
 'shield',
 'celery',
 'lobster',
 'pig',
 'bat_(animal)',
 'flute',
 'football',
 'jacket',
 'avocado',
 'balloon',
 'dolphin',
 'drum',
 'grenade',
 'elephant',
 'duck',
 'cannon',
 'tomato',
 'brick',
 'blender',
 'skis',
 'house',
 'banana',
 'clock',
 'hose',
 'donkey',
 'ball',
 'mirror',
 'bus',
 'shoes',
 'broccoli',
 'grape',
 'crayon',
 'train',
 'whale',
 'candle',
 'envelope',
 'pumpkin',
 'pigeon',
 'canoe',
 'bracelet',
 'key',
 'mouse_(computer)',
 'tank_(army)',
 'microwave',
 'spear']

In [61]:
allcos = allcos[allcos.CONCEPT.isin(stimuli)]

In [62]:
allcos.to_excel("OurCosines1.xlsx") # subset and saved the cosine data only for our 297 stimuli

In [63]:
allcos = allcos.set_index('CONCEPT')

In [64]:
d = {} # key - stimulus, value - list of cos.similarity values for each semantic neighbour
for ind, row in allcos.iterrows():
    d[ind] = row.values.tolist()

In [65]:
for key, value in d.items():
    d[key] = [num for num in value if num >= 0.4] #left only values that are no less than 0.4

In [67]:
'''
import xlsxwriter

workbook = xlsxwriter.Workbook('NEWCOSINEOUTPUT.xlsx')
worksheet = workbook.add_worksheet()
row = 0
col = 0
order=sorted(d.keys())
for key in order:
    row += 1
    print(key)
    worksheet.write(row, col,     key)
    for item in d[key]:
        #print(item,row, col+1)
        worksheet.write(row, col + 1, item)
        col += 1
    col = 0
workbook.close()
'''

"\nimport xlsxwriter\n\nworkbook = xlsxwriter.Workbook('NEWCOSINEOUTPUT.xlsx')\nworksheet = workbook.add_worksheet()\nrow = 0\ncol = 0\norder=sorted(d.keys())\nfor key in order:\n    row += 1\n    print(key)\n    worksheet.write(row, col,     key)\n    for item in d[key]:\n        #print(item,row, col+1)\n        worksheet.write(row, col + 1, item)\n        col += 1\n    col = 0\nworkbook.close()\n"

In [68]:
for key, value in d.items():
    d[key] = round(np.mean(value),3)
cosdf = pd.DataFrame(list(d.items()), columns=['Stimulus', 'MeanNearSemNeigh'])

C:\Users\Omistaja\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\Omistaja\Anaconda3\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [69]:
cosdf.to_excel("cosdf.xlsx")

In [70]:
data1 = data.drop(['Gender', 'Age', 'Trail_BA', 'Block', 'Rand', 
                   'CatPos', 'Sequence','RT', 'RT-100', 'ACC', 'Type',
                   'Resp_raw', 'Resp_stand_1','Resp_type_1','Resp_type_2',
                   ' ','Broad_error_2'], axis=1)

In [71]:
data1.tail()

,Item,ID,Order,Stimulus,STD_RESP1,Resp_stand_2,Error_type_1,Broad_error_1,Frequency,Familiarity,...,Familiarity_resp,Length_resp,NameAgr_resp,VisCom_resp,AoA_resp,Imageabil_resp,Imageagr_resp,NumFeats_resp,Typicality _resp,NearSemNeigh _resp
24349,183wand,183.0,69.0,wand,wand,NaN,Corr,correct,3.538345,2.60,...,2.60,4.0,0.818182,2.090909,3.083333,5.500000,3.703704,9.0,15.000000,0.0
24350,183whale,183.0,218.0,whale,dolphin,NaN,Coord,semantic,4.144597,3.50,...,3.85,6.0,1.000000,2.083333,2.363636,6.454545,4.461538,20.0,35.818182,4.0
24351,183whip,183.0,266.0,whip,whip,NaN,Corr,correct,4.082769,3.75,...,3.75,3.0,1.000000,1.818182,5.181818,5.727273,4.551724,13.0,23.400000,1.0
24352,183whistle,183.0,269.0,whistle,whistle,NaN,Corr,correct,4.245229,6.40,...,6.40,4.0,1.000000,1.909091,4.545455,4.727273,4.461538,14.0,24.600000,1.0
24353,183zebra,183.0,122.0,zebra,zebra,NaN,Corr,correct,3.692247,2.60,...,2.60,5.0,1.000000,2.181818,3.090909,6.181818,4.777778,13.0,31.453125,3.0

In [1]:
data1["MeanCosNeigh"] = pd.concat([cosdf]*82, ignore_index=True)

NameError: name 'pd' is not defined

In [77]:
cosdf = cosdf.set_index("Stimulus")

In [80]:
data1.to_excel("NEW_DATA_ADDEDCOLUMN.xlsx")

In [82]:
allcos.columns

Index(['accordion', 'airplane', 'alligator', 'ambulance', 'anchor', 'ant',
       'apartment', 'apple', 'apron', 'armour',
       ...
       'whip', 'whistle', 'willow', 'woodpecker', 'worm', 'wrench', 'yacht',
       'yam', 'zebra', 'zucchini'],
      dtype='object', length=541)

In [116]:
data1['Stimulus'] = data['Stimulus'].str.strip()
data1['STD_RESP1'] = data['STD_RESP1'].str.strip()

In [117]:
resp_cos = []
for stim, resp in zip(data1.Stimulus, data1.STD_RESP1):
    if resp in allcos.columns:
        resp_cos.append(allcos.at[stim,resp])
    else:
        resp_cos.append(np.NaN)

KeyError: 'mouse_(animal)'

In [4]:
dat = {'Stim': ["anchor", "apple", "zebra", "whistle", "apple"],
       'Resp': ["apple", "anchor", "zebra", "whistle", "apple"]}
dat = pd.DataFrame.from_dict(dat)
dat

      Stim     Resp
0   anchor    apple
1    apple   anchor
2    zebra    zebra
3  whistle  whistle
4    apple    apple

In [113]:
res = []
for stim, resp in zip(dat.Stim, dat.Resp):
    if resp in allcos.columns:
        res.append(allcos.at[stim,resp])
    else:
        res.append(np.NaN)

In [8]:
set(dat['Stim']) == set(dat['Resp'])

True